<div class="mt-4 ml-4">
    <h3>Sửa thông tin phở</h3>
    <form method="POST" action="/soups/{{soups._id}}?_method=PUT">
        <div class="form-group">
            <label for="title">Tên quán phở</label>
            <input type="text" class="form-control" id="title" name="title" value="{{soups.title}}">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ quán phở</label>
            <input type="text" class="form-control" id="address" name="address" value="{{soups.address}}">
        </div>
        <div class="form-group">
            <label for="image">Link ảnh quán phở</label>
            <input type="text" class="form-control" id="image" name="image" value="{{soups.image}}">
        </div>
        <div class="form-group">
            <label for="active">Trạng thái quán phở</label>
            <input type="text" class="form-control" id="active" name="active" value="{{soups.active}}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>