<form class="mt-4" name="container-form" method="POST" action="/soup/handle-form-actions">
    <div>
        <h3>Thông tin quán phở</h3>

        <a href="/soup/create" class="btn btn-primary btn-sm btn-submit-act mt-2">Thêm quán phở</a>
        {{#if deleteSoup}}
        <a href="/soup/trash">Thùng rác ({{deleteSoup}})</a>
        {{/if}}

        <div class="mt-4 d-flex align-items-center">
            <div class="form-check">
                <input type="checkbox" class="form-check-input mt-2" id="checkbox-all">
                <label class="form-check-label" for="checkbox-all">Chọn tất cả</label>
            </div>

            <select class="form-control form-control-sm ml-4 mr-4" style="width: 180px;" name="action" required>
                <option value="">-- Chọn Hành động --</option>
                <option value="delete">Xóa</option>
            </select>

            <button class="btn btn-primary btn-sm btn-submit-act" disabled>Áp dụng</button>
        </div>

    </div>

    <table class="table mt-4">
        <thead>
            <tr>
                <th scope="col" colspan="2"></th>
                <th scope="col">Tên quán phở</th>
                <th scope="col">Địa chỉ quán phở</th>
                <th scope="col">Ảnh quán phở</th>
                <th scope="col">Sale</th>
                <th scope="col">Trạng thái quán phở</th>
                <th scope="col">Thời gian tạo</th>
                <th scope="col">Thời gian sửa gần nhất</th>
                <th scope="col">Thao tác</th>
            </tr>
        </thead>
        <tbody>
            {{#each soups}}
            <tr>
                <td>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" name="soupIds" value="{{this._id}}">
                    </div>
                </td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.title}}</td>
                <td>{{this.address}}</td>
                <td><img src={{this.image}} all={{this.title}} class="form-img" /></td>
                <td>{{this.sale}}</td>
                <td>
                    {{#if this.active}} 
                    Mở cửa
                    {{else}} 
                    Đóng cửa
                    {{/if}}
                    </td>
                <td>{{this.createdAt}}</td>
                <td>{{this.updatedAt}}</td>
                <td style="display: flex;">
                    <a href="/soup/{{this._id}}/edit" class="btn btn-warning mr-2">Sửa</a>
                    <a href="" class="btn btn-danger" data-id="{{this._id}}" data-toggle="modal"
                        data-target="#delete-soup-modal">Xóa</a>
                </td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5">
                    <h2>Bạn chưa đăng khóa học nào.</h2>
                    <a href="/soup/create">Đăng khóa học ngay.</a>
                </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</form>

{{!-- Delete hidden form --}}
<form name="delete-soup-form" method="POST">

</form>

<!-- Button trigger modal -->
<div class="modal fade" id="delete-soup-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Xóa khóa học?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Bạn có chắc muốn xóa khóa học này?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
                <button type="button" id="btn-delete-soup" class="btn btn-primary">Xóa bỏ</button>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var _id;
        var btnDeletesoup = document.getElementById('btn-delete-soup');
        var deleteForm = document.forms['delete-soup-form'];
        //var containerForm = document.forms['container-form'];
        var containerForm = $('form[name="container-form"]');
        var checkboxAll = $('#checkbox-all');
        var soupItemCheckbox = $('input[name="soupIds"]');
        var btnSubmitAct = $('.btn-submit-act')

        $('#delete-soup-modal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            _id = button.data('id');
        })


        btnDeletesoup.onclick = function () {
            deleteForm.action = `/soup/${_id}/?_method=DELETE`;
            deleteForm.submit();
        }

        //Checkbox all change
        checkboxAll.change(function () {
            var isCheckedAll = $(this).prop('checked');
            soupItemCheckbox.prop('checked', isCheckedAll);
            renderCheckedAllSubmitBtn()
        });

        //soup item checkbox change
        soupItemCheckbox.change(function () {
            var isCheckedAll = soupItemCheckbox.length === $('input[name="soupIds"]:checked').length;
            checkboxAll.prop('checked', isCheckedAll);
            renderCheckedAllSubmitBtn()
        })

        //Check all submit button clicked


        //Re-render check all submit button
        function renderCheckedAllSubmitBtn() {
            var checkedCount = $('input[name="soupIds"]:checked').length;
            if (checkedCount > 0) btnSubmitAct.attr('disabled', false)
            else btnSubmitAct.attr('disabled', true);
        }

    })
</script>