<div class="mt-4 ml-4">
    <h3>Sửa thông tin bún</h3>
    <form method="POST" action="/noodles/{{noodles._id}}?_method=PUT">
        <div class="form-group">
            <label for="title">Tên quán bún</label>
            <input type="text" class="form-control" id="title" name="title" value="{{noodles.title}}">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ quán bún</label>
            <input type="text" class="form-control" id="address" name="address" value="{{noodles.address}}">
        </div>
        <div class="form-group">
            <label for="image">Link ảnh quán bún</label>
            <input type="text" class="form-control" id="image" name="image" value="{{noodles.image}}">
        </div>
        <div class="form-group">
            <label for="active">Trạng thái quán bún</label>
            <input type="text" class="form-control" id="active" name="active" value="{{noodles.active}}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>