<div class="mt-4 ml-4">
    <h3>Sửa thông tin cơm</h3>
    <form method="POST" action="/rice/{{rices._id}}?_method=PUT">
        <div class="form-group">
            <label for="title">Tên quán cơm</label>
            <input type="text" class="form-control" id="title" name="title" value="{{rices.title}}">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ quán cơm</label>
            <input type="text" class="form-control" id="address" name="address" value="{{rices.address}}">
        </div>
        <div class="form-group">
            <label for="image">Link ảnh quán cơm</label>
            <input type="text" class="form-control" id="image" name="image" value="{{rices.image}}">
        </div>
        <div class="form-group">
            <label for="active">Trạng thái quán cơm</label>
            <input type="text" class="form-control" id="active" name="active" value="{{rices.active}}">
        </div>
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>